.advantages {
  width: @mobile-width;
  padding-top: 39px;
  background-color: @color-2;
}

.advantages__section-slogan {
  display: block;
  .font-parameters(18px; 26px; bold);
  margin-bottom: 28px;
  padding-right: 30px;
  padding-left: 30px;
}

.advantages__section-comment {
  .font-parameters(14px; 26px; normal);
  margin: 0;
  margin-bottom: 28px;
  padding-right: 30px;
  padding-left: 30px;
}

.advantages__advantages-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .list-style-reset();
}

.advantages__advantage-item {
  display: flex;
  flex-direction: column;
}

.advantages__advantage-wrapper {
  padding-bottom: 42px;
  padding-right: 8px;
  padding-left: 8px;

  &--authentic {
    position: relative;
    color: @color-2;
    background-color: @color-3;
    padding-top: 57px;
    padding-bottom: 39px;

    &::before {
      position: absolute;
      top: -22px;
      left: 0;
      content: "";
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &--devils-bridge {
    color: @color-2;
    background-color: @color-3;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--small {
    position: relative;
    margin-top: -5px;
    color: @color-1;
    background-color: @color-4;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 10px;
    padding-left: 10px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 20px;
      content: "";
      width: 280px;
      height: 2px;
      background-color: @color-5-2;
    }
  }

  &--beautiful {
    position: relative;
    color: @color-1;
    background-color: @color-4;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-right: 10px;
    padding-left: 10px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 20px;
      content: "";
      width: 280px;
      height: 2px;
      background-color: @color-5-2;
    }
  }

  &--untouristic {
    color: @color-1;
    background-color: @color-4;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.advantages__advantage-title {
  .font-parameters(21px; 21px; bold);
  margin: 0;
}

.advantages__item-number {
  .font-parameters();
  margin: 0;
  margin-top: 15px;
}

.advantages__item-description {
  .font-parameters();
  margin: 0;
  margin-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
}

.advantages__features-list {
  display: flex;
  flex-direction: column;
  .list-style-reset();
  background-color: @color-2;
  color: @color-1;
  text-align: left;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.advantages__feature-item {
  position: relative;
  .font-parameters(18px; 26px; bold);
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 28px;
  background-color: @color-2;

  &:last-child {
    margin-bottom: 37px;
  }
}

.advantages__feature-icon {
  position: absolute;
  left: 20px;
  top: 20px;

  &--acommodation {
    width: 38px;
    height: 37px;
  }

  &--souvenirs {
    width: 32px;
    height: 38px;
  }

  &--food {
    width: 41px;
    height: 35px;
  }
}

.advantages__feature-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  margin-bottom: 13px;
}

.advantages__feature-description {
  .font-parameters();
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: @tablet-width;
    padding-top: 50px;
  }

  .advantages__section-slogan {
    .font-parameters(21px; 26px; bold);
    margin-bottom: 28px;
    padding-right: 130px;
    padding-left: 130px;
  }

  .advantages__section-comment {
    padding-right: 130px;
    padding-left: 130px;
    margin-bottom: 50px;
  }

  .advantages__advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .advantages__advantage-item {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .advantages__advantage-wrapper {
    width: 256px;
    padding-bottom: 42px;
    padding-right: 23px;
    padding-left: 23px;

    &--authentic {
      background-image: none;
      padding-top: 44px;
      padding-bottom: 44px;

      &::before {
        display: none;
      }
    }

    &--devils-bridge {
      order: 2;
      padding-top: 43px;
      padding-bottom: 45px;
    }

    &--small {
      padding-top: 45px;
      padding-bottom: 40px;
      padding-right: 30px;
      padding-left: 30px;

      &::after {
        display: none;
      }
    }

    &--beautiful{
      margin-top: -5px;
      padding-top: 45px;
      padding-bottom: 40px;
      padding-right: 30px;
      padding-left: 30px;

      &::after {
        display: none;
      }
    }

    &--untouristic {
      margin-top: -5px;
      padding-top: 45px;
      padding-bottom: 40px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .advantages__advantage-title {
    .font-parameters(21px; 26px; bold);
    padding-right: 20px;
    padding-left: 20px;
  }

  .advantages__item-number {
    .font-parameters();
    margin-top: 12px;
  }

  .advantages__item-description {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .advantages__features-image--bridge {
    order: 1;
  }

  .advantages__features-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__feature-item {
    width: 256px;
    padding-top: 150px;
    padding-left: 45px;
    padding-right: 40px;
    padding-bottom: 24px;
    text-align: center;

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 2;
    }
  }

  .advantages__feature-icon {
    left: 90px;
    top: 50px;

    &--acommodation {
      width: 74.695px;
      height: 72.346px;
    }

    &--souvenirs {
      width: 63px;
      height: 75.084px;
    }

    &--food {
      width: 76.166px;
      height: 68.959px;
    }
  }

  .advantages__feature-title {
    .font-parameters(21px; 26px; bold);
    margin-bottom: 22px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: @desktop-width;
    padding-top: 48px;
  }

  .advantages__section-slogan {
    padding-right: 360px;
    padding-left: 360px;
  }

  .advantages__advantage-wrapper {
    width: 400px;
    padding-bottom: 42px;

    &--authentic {
      padding-top: 50px;
      padding-bottom: 60px;
    }

    &--devils-bridge {
      padding-top: 54px;
      padding-bottom: 58px;
    }

    &--small,
    &--beautiful,
    &--untouristic {
      padding-top: 48px;
      padding-bottom: 64px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .advantages__advantage-title {
    .font-parameters(21px; 26px; bold);
    padding-right: 100px;
    padding-left: 100px;
  }

  .advantages__item-description {
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .advantages__feature-item {
    width: 400px;
    padding-top: 154px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 43px;
  }

  .advantages__feature-icon {
    left: 165px;
    top: 58px;
  }

  .advantages__advantage-item {
    overflow: hidden;
  }

  .advantages__features-image {
    &--city,
    &--bridge {
      margin-top: -75px;
      margin-bottom: -75px;
      padding: 0;
    }
  }
}
