.feedback {
  width: @mobile-width;
  padding-top: 39px;
  padding-bottom: 37px;
  padding-right: 20px;
  padding-left: 20px;
}

.feedback__section-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  padding-bottom: 27px;
}

.feedback__section-comment {
  .font-parameters(14px; 24px; normal);
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 18px;
}

.feedback__form-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__block {
  &--personal {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 5px;
  }

  &--contact {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 5px;
  }

  &--rating {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 5px;
  }

  &--sights {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 0;
  }

  &--message {
    padding-top: 0;
    padding-bottom: 28px;
    margin-top: -5px;
  }
}

.feedback__block-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  padding-bottom: 22px;

  &--contact {
    padding-bottom: 26px;
  }
}

.feedback__input-wrapper {
  text-align: justify;
  padding-bottom: 20px;
}

.feedback__label {
  &--personal {
    display: inline-block;
    .font-parameters(14px; 14px; normal);
    padding-right: 8px;
  }

  &--contact {
    display: inline-block;
    .font-parameters(14px; 14px; normal);
    padding-bottom: 12px;
    padding-left: 22px;
  }

  &--radio {
    display: inline-block;
    .font-parameters(18px; 18px; bold);
    text-transform: none;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &--checkbox {
    display: inline-block;
    .font-parameters(18px; 18px; bold);
    text-transform: none;
    padding-left: 80px;
    padding-top: 13px;
    padding-bottom: 49px;
  }
}

.feedback__personal-input {
  .font-parameters(18px; 18px; bold);
  display: inline-block;
  vertical-align: center;
  height: 58px;
  background-color: @color-5;
  padding-left: 20px;
  border: none;

  &--first-name {
    width: 230px;
  }

  &--last-name {
    width: 192px;
  }

  &--patronymic {
    width: 196px;
  }

  &:hover,
  &:focus {
    background-color: @color-5-1;
  }

  &:active {
    background-color: @color-2;
    border: 2px solid @color-5-1;
  }
}

.feedback__contact-input {
  display: block;
  .font-parameters(18px; 18px; bold);
  vertical-align: center;
  height: 58px;
  background-color: @color-5;
  padding-left: 20px;
  border: none;
  width: 100%;

  &:hover,
  &:focus {
    background-color: @color-5-1;
  }

  &:active {
    background-color: @color-2;
    border: 2px solid @color-5-1;
  }
}

.feedback__block-wrapper {
  &--personal {
    display: flex;
    flex-direction: column;
  }

  &--contact {
    display: flex;
    flex-direction: column;
  }
}

.feedback__contact-item {
  &--phone {
    display: flex;
    flex-direction: column;
  }

  &--email {
    display: flex;
    flex-direction: column;
  }
}

.feedback__rating-list {
  .list-style-reset();
}

.feedback__sights-list {
  .list-style-reset();
  display: flex;
  flex-direction: column;
}

.feedback__textarea {
  width: 100%;
  .font-parameters(18px; 26px; bold);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;
  border: none;
  background-color: @color-5;
}

.feedback__button {
  width: 100%;
  border: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    width: @tablet-width;
    padding-top: 75px;
    padding-bottom: 55px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .feedback__section-title {
    .font-parameters(30px; 30px; bold);
    padding-bottom: 28px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .feedback__section-comment {
    letter-spacing: 0;
    padding-bottom: 54px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .feedback__form-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__block {
    padding-top: 19px;
    padding-bottom: 5px;

    &--personal {
      order: 2;
      width: @tablet-form-halfwidth;
      text-align: left;
      padding-left: 56px;
    }

    &--contact {
      order: 3;
      width: @tablet-form-fullwidth;
      padding-top: 28px;
    }

    &--rating {
      order: 1;
      width: @tablet-form-halfwidth;
      text-align: left;
    }

    &--sights {
      order: 4;
      width: @tablet-form-fullwidth;
      padding-top: 29px;
      padding-bottom: 19px;
    }

    &--message {
      order: 6;
      width: @tablet-form-fullwidth;
      padding-top: 0;
      padding-bottom: 18px;
    }

    &--button {
      position: relative;
      order: 7;
      width: @tablet-form-halfwidth;

      &::after {
        position: absolute;
        top: 40px;
        left: 486px;
        content: "* - ОБЯЗАТЕЛЬНЫЕ ПОЛЯ";
        width: 164px;
        height: 16px;
        color: @color-9;
      }
    }
  }

  .feedback__block-title {
    .font-parameters(21px; 26px; bold);
    padding-bottom: 60px;

    &--personal {
      padding-bottom: 58px;
    }

    &--contact {
      padding-bottom: 21px;
    }

    &--sights {
      padding-bottom: 46px;
      padding-right: 180px;
      padding-left: 180px;
    }
  }

  .feedback__label {
    &--contact {
      padding-top: 8px;
      padding-bottom: 13px;
    }

    &--radio {
      padding-left: 76px;
      padding-top: 21px;
      padding-bottom: 38px;
    }

    &--checkbox {
      padding-bottom: 56px;
    }
  }

  .feedback__personal-input {
    &--first-name {
      width: 216px;
    }

    &--last-name {
      width: 178px;
    }

    &--patronymic {
      width: 182px;
    }
  }

  .feedback__sights-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 94px;
  }

  .feedback__sights-item {
    width: 260px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: @desktop-width;
    padding-top: 110px;
    padding-bottom: 60px;
    padding-right: 120px;
    padding-left: 120px;
  }

  .feedback__section-title {
    padding-right: 254px;
    padding-left: 254px;
  }

  .feedback__section-comment {
    letter-spacing: 0;
    padding-bottom: 38px;
    padding-right: 254px;
    padding-left: 254px;
  }

  .feedback__block {
    &--personal {
      width: @desktop-form-halfwidth;
      padding-left: 78px;
    }

    &--contact {
      width: @desktop-form-fullwidth;
      padding-top: 24px;
    }

    &--rating {
      width: @desktop-form-halfwidth;
    }

    &--sights {
      width: @desktop-form-fullwidth;
      padding-bottom: 22px;
      padding-top: 26px;
    }

    &--message {
      width: @desktop-form-fullwidth;
    }

    &--button {
      width: @desktop-form-halfwidth;

      &::after {
        top: 40px;
        left: 798px;
      }
    }
  }

  .feedback__block-title {
    &--contact {
      padding-bottom: 78px;
      padding-right: 340px;
      padding-left: 340px;
    }

    &--rating {
      padding-left: 79px;
    }

    &--sights {
      padding-right: 340px;
      padding-left: 340px;
      padding-bottom: 49px;
    }

    &--message {
      padding-bottom: 64px;
    }
  }

  .feedback__label {
    &--personal {
      padding-right: 10px;
    }

    &--checkbox {
      padding-left: 80px;
      padding-top: 13px;
      padding-bottom: 49px;
    }
  }

  .feedback__label--contact-firstword {
    display: none;
  }

  .feedback__personal-input {
    &--first-name {
      width: 348px;
    }

    &--last-name {
      width: 312px;
    }

    &--patronymic {
      width: 314px;
    }
  }

  .feedback__block-wrapper--contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__contact-item {
    &--phone {
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
    }

    &--email {
      flex-direction: row;
      justify-content: space-between;
      width: 484px;
    }
  }

  .feedback__label {
    &--contact {
      padding-left: 0;
      padding-right: 12px;
      padding-top: 23px;
      padding-bottom: 0px;
    }
  }

  .feedback__contact-input {
    width: 316px;
  }

  .feedback__sights-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
  }

  .feedback__sights-item {
    width: auto;
  }
}
