.feedback {

}

.feedback__section-title {
	.font-parameters(18px; 26px; bold);
  margin: 0;
  margin-top: 36px;
  margin-bottom: 30px;
}

.feedback__section-comment {
	.font-parameters(14px; 24px; normal);
  margin: 0;
   margin-bottom: 18px;
}

.feedback__block {
  padding-top:22px;
  padding-bottom: 26px;
}

.feedback__block-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  margin-bottom: 22px;
}

.feedback__input-wrapper {
  text-align: justify;
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: none;
  }
}

.feedback__label {
    &--text {
      .font-parameters(14px; 26px; normal);
      padding-right: 16px;
    }
    &--contact {
      .font-parameters(14px; 26px; normal);
      padding-left: 22px;
    }
    &--radio,
    &--checkbox {
      .font-parameters(14px; 26px; bold);
      text-transform: none;
      padding-left: 80px;
    }
  }

.feedback__text-input {
  font-weight: bold;
  vertical-align: center;
  height: 58px;
  background-color: @color-5;
  padding-left: 24px;
  border: none;
}

.feedback__contact-input {
  &--phone {
    display: block;
    font-weight: bold;
    vertical-align: center;
    height: 58px;
    background-color: @color-5;
    padding-left: 24px;
    border: none;
    width: 100%;
  }
  &--email {
    display: block;
    font-weight: bold;
    vertical-align: center;
    height: 58px;
    background-color: @color-5;
    padding-left: 24px;
    border: none;
    width: 100%;
  }
}

.feedback__rating-list {
  .list-style-reset();
}

.feedback__rating-field {

}

.feedback__input-radio {

}

.feedback__sights-list {
  .list-style-reset();
}

.feedback__sights-field {

}

.feedback__input-checkbox {

}

.feedback__textarea {
  width: 100%;
}

.feedback__button {
	display: block;
  .font-parameters(21px; 26px; bold);
  font: inherit;
  .uppercase();
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: @color-2;
  background-color: @color-3;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: ;
  padding-left: ;
  border: none;
}
