.feedback {
  width: @mobile-width;
  padding-top: 39px;
  padding-bottom: 37px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: @color-2;
}

.feedback__section-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  padding-bottom: 27px;
}

.feedback__section-comment {
  position: relative;
  .font-parameters(14px; 24px; normal);
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 18px;

  &::after {
    position: absolute;
    bottom: 0;
    left: -20px;
    content: "";
    width: 320px;
    height: 1px;
    background-color: @color-5-1;
  }
}

.feedback__form-wrapper {
  display: flex;
  flex-direction: column;
}

.feedback__block {
  position: relative;

  &--personal {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 5px;

    &::after {
      position: absolute;
      bottom: 0;
      left: -20px;
      content: "";
      width: 320px;
      height: 1px;
      background-color: @color-5-1;
    }
  }

  &--contact {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 10px;

    &::after {
      position: absolute;
      bottom: 0;
      left: -20px;
      content: "";
      width: 320px;
      height: 1px;
      background-color: @color-5-1;
    }
  }

  &--rating {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: -20px;
      content: "";
      width: 320px;
      height: 1px;
      background-color: @color-5-1;
    }
  }

  &--sights {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-bottom: 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: -20px;
      content: "";
      width: 320px;
      height: 1px;
      background-color: @color-5-1;
    }
  }

  &--message {
    padding-top: 22px;
    padding-bottom: 28px;
    margin-top: -5px;
  }
}

.feedback__block-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  padding-bottom: 22px;

  &--contact {
    padding-bottom: 26px;
  }

  &--message {
    padding-bottom: 24px;
  }
}

.feedback__input-wrapper {
  text-align: justify;
  padding-bottom: 20px;
}

.feedback__label {
  &--personal {
    display: inline-block;
    .font-parameters(14px; 14px; normal);
    padding-right: 8px;
  }

  &--contact {
    display: inline-block;
    .font-parameters(14px; 14px; normal);
    padding-bottom: 12px;
    padding-left: 22px;
  }

  &--radio {
    display: inline-block;
    .font-parameters(18px; 18px; bold);
    text-transform: none;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &--checkbox {
    display: inline-block;
    .font-parameters(18px; 18px; bold);
    text-transform: none;
    padding-left: 80px;
    padding-top: 13px;
    padding-bottom: 49px;
  }

  &--checkbox-last {
    padding-bottom: 27px;
  }
}

.feedback__personal-input {
  .font-parameters(18px; 18px; bold);
  display: inline-block;
  vertical-align: center;
  height: 58px;
  background-color: @color-5;
  padding-left: 20px;
  border: none;

  &--first-name {
    width: 230px;
  }

  &--last-name {
    width: 192px;
  }

  &--patronymic {
    width: 196px;
  }

  &:hover,
  &:focus {
    background-color: @color-5-1;
  }

  &:active {
    background-color: @color-2;
    border: 2px solid @color-5-1;
  }
}

.feedback__contact-input {
  display: block;
  .font-parameters(18px; 18px; bold);
  vertical-align: center;
  height: 58px;
  padding-left: 20px;
  border: none;
  width: 100%;

  &--phone {
    background-image: url("../img/icon-phone.svg"), linear-gradient(to left, @color-5-2, @color-5-2 58px, @color-5 58px, @color-5);
    background-repeat: no-repeat;
    background-position: 93% 50%;
  }

  &--email {
    background-image: url("../img/icon-mail.svg"), linear-gradient(to left, @color-5-2, @color-5-2 58px, @color-5 58px, @color-5);
    background-repeat: no-repeat;
    background-position: 93% 50%;
  }

  &:hover,
  &:focus {
    background-color: @color-5-1;
  }

  &:active {
    background-color: @color-2;
    border: 2px solid @color-5-1;
    background-image: none;
  }
}

.feedback__block-wrapper {
  &--personal {
    display: flex;
    flex-direction: column;
  }

  &--contact {
    display: flex;
    flex-direction: column;
  }
}

.feedback__contact-item {
  &--phone {
    display: flex;
    flex-direction: column;
  }

  &--email {
    display: flex;
    flex-direction: column;
  }
}

.feedback__rating-list {
  .list-style-reset();
}

.feedback__rating-field {
  position: relative;
}

.feedback__sights-list {
  .list-style-reset();
  display: flex;
  flex-direction: column;
}

.feedback__sights-item {
  position: relative;
}

input[type="radio"] + label::before {
  position: absolute;
  content: "";
  width: 57px;
  height: 57px;
  background-color: @color-5;
  border-radius: 50%;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-color: @color-1;
  border-radius: 50%;
  top: 18px;
  left: 18px;
}

input[type="radio"]:checked:active + label::after {
  opacity: 0.5;
}

input[type="radio"]:hover + label::before,
input[type="radio"]:focus + label::before {
  background-color: @color-5-1;
}

input[type="radio"]:active + label::before {
  background-color: @color-5-3;
}

input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  width: 57px;
  height: 57px;
  background-color: @color-5;
  top: -3px;
  left: 0;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 23.049px 16.249px;
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked:active + label::before {
  opacity: 0.5;
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before {
  background-color: @color-5-1;
}

input[type="checkbox"]:active + label::before {
  background-color: @color-5-3;
}

.feedback__textarea {
  width: 100%;
  .font-parameters(18px; 26px; bold);
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;
  border: none;
  background-color: @color-5;
}

.feedback__button {
  width: 100%;
  border: none;
}

@media (min-width: @tablet-width) {
  .feedback {
    width: @tablet-width;
    padding-top: 75px;
    padding-bottom: 55px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .feedback__section-title {
    .font-parameters(30px; 30px; bold);
    padding-bottom: 28px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .feedback__section-comment {
    letter-spacing: 0;
    padding-bottom: 54px;
    padding-right: 100px;
    padding-left: 100px;

    &::after {
      display: none;
    }
  }

  .feedback__form-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__block {
    padding-top: 19px;
    padding-bottom: 5px;

    &--personal {
      order: 2;
      width: @tablet-form-halfwidth;
      text-align: left;
      padding-left: 56px;

      &::after {
        display: none;
      }
    }

    &--contact {
      order: 3;
      width: @tablet-form-fullwidth;
      padding-top: 28px;

      &::before {
        position: absolute;
        top: 40px;
        left: 0;
        content: "";
        width: 124px;
        height: 1px;
        background-color: @color-5-1;
      }

      &::after {
        top: 40px;
        left: 524px;
        width: 124px;
        height: 1px;
      }
    }

    &--rating {
      order: 1;
      width: @tablet-form-halfwidth;
      text-align: left;

      &::after {
        top: 25px;
        left: 324px;
        width: 1px;
        height: 292px;
      }
    }

    &--sights {
      order: 4;
      width: @tablet-form-fullwidth;
      padding-top: 27px;
      padding-bottom: 19px;

      &::before {
        position: absolute;
        top: 55px;
        left: 0;
        content: "";
        width: 124px;
        height: 1px;
        background-color: @color-5-1;
      }

      &::after {
        top: 55px;
        left: 524px;
        width: 124px;
        height: 1px;
      }
    }

    &--message {
      position: relative;
      order: 6;
      width: @tablet-form-fullwidth;
      padding-top: 0;
      padding-bottom: 20px;

      &::before {
        position: absolute;
        top: 16px;
        left: 0;
        content: "";
        width: 124px;
        height: 1px;
        background-color: @color-5-1;
      }

      &::after {
        position: absolute;
        top: 16px;
        left: 524px;
        content: "";
        width: 124px;
        height: 1px;
        background-color: @color-5-1;
      }
    }

    &--button {
      position: relative;
      order: 7;
      width: @tablet-form-halfwidth;

      &::after {
        position: absolute;
        top: 40px;
        left: 486px;
        content: "* - ОБЯЗАТЕЛЬНЫЕ ПОЛЯ";
        width: 164px;
        height: 16px;
        color: @color-9;
        background-color: @color-2;
      }
    }
  }

  .feedback__block-title {
    .font-parameters(21px; 26px; bold);
    padding-bottom: 60px;

    &--personal {
      padding-bottom: 58px;
    }

    &--contact {
      padding-bottom: 23px;
    }

    &--sights {
      padding-bottom: 49px;
      padding-right: 180px;
      padding-left: 180px;
    }
  }

  .feedback__label {
    &--contact {
      padding-top: 8px;
      padding-bottom: 13px;
    }

    &--radio {
      padding-left: 76px;
      padding-top: 21px;
      padding-bottom: 38px;
    }

    &--checkbox {
      padding-bottom: 56px;
    }
  }

  .feedback__personal-input {
    &--first-name {
      width: 216px;
    }

    &--last-name {
      width: 178px;
    }

    &--patronymic {
      width: 182px;
    }
  }

  .feedback__sights-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 94px;
  }

  .feedback__sights-item {
    width: 260px;
  }

  .feedback__contact-input {
    &--phone {
      background-position: 97% 50%;
    }

    &--email {
      background-position: 97% 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: @desktop-width;
    padding-top: 110px;
    padding-bottom: 60px;
    padding-right: 120px;
    padding-left: 120px;
  }

  .feedback__section-title {
    padding-right: 254px;
    padding-left: 254px;
  }

  .feedback__section-comment {
    letter-spacing: 0;
    padding-bottom: 38px;
    padding-right: 254px;
    padding-left: 254px;
  }

  .feedback__block {
    &--personal {
      width: @desktop-form-halfwidth;
      padding-left: 78px;
    }

    &--contact {
      width: @desktop-form-fullwidth;
      padding-top: 24px;

      &::before {
        width: 278px;
      }

      &::after {
        left: 682px;
        width: 278px;
      }
    }

    &--rating {
      width: @desktop-form-halfwidth;

      &::after {
        left: 480px;
      }
    }

    &--sights {
      width: @desktop-form-fullwidth;
      padding-bottom: 22px;
      padding-top: 26px;

      &::before {
        width: 278px;
      }

      &::after {
        left: 682px;
        width: 278px;
      }
    }

    &--message {
      width: @desktop-form-fullwidth;

      &::before {
        width: 278px;
      }

      &::after {
        left: 682px;
        width: 278px;
      }
    }

    &--button {
      width: @desktop-form-halfwidth;

      &::after {
        top: 40px;
        left: 798px;
      }
    }
  }

  .feedback__block-title {
    &--contact {
      padding-bottom: 78px;
      padding-right: 340px;
      padding-left: 340px;
    }

    &--rating {
      padding-left: 79px;
    }

    &--sights {
      padding-right: 340px;
      padding-left: 340px;
      padding-bottom: 49px;
    }

    &--message {
      padding-bottom: 60px;
    }
  }

  .feedback__label {
    &--personal {
      padding-right: 10px;
    }

    &--contact {
      padding-left: 0;
      padding-right: 12px;
      padding-top: 23px;
      padding-bottom: 0;
    }

    &--checkbox {
      padding-left: 80px;
      padding-top: 13px;
      padding-bottom: 49px;
    }
  }

  .feedback__label--contact-firstword {
    display: none;
  }

  .feedback__personal-input {
    &--first-name {
      width: 348px;
    }

    &--last-name {
      width: 312px;
    }

    &--patronymic {
      width: 314px;
    }
  }

  .feedback__block-wrapper--contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__contact-item {
    &--phone {
      flex-direction: row;
      justify-content: space-between;
      width: 400px;
    }

    &--email {
      flex-direction: row;
      justify-content: space-between;
      width: 484px;
    }
  }

  .feedback__contact-input {
    width: 316px;

    &--phone {
      background-position: 93% 50%;
    }

    &--email {
      background-position: 93% 50%;
    }
  }

  .feedback__sights-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
  }

  .feedback__sights-item {
    width: auto;
  }
}
