.footer {
  display: flex;
  flex-direction: column;
  width: @mobile-width;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: @color-2;
}

.footer__copyright {
  .font-parameters(14px; 26px; normal);
  margin: 0;
}

.footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  font-size: 0;
  background-color: @color-2;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: @tablet-width;
    padding-top: 0;
  }

  .footer__copyright-wrapper {
    width: 255px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: @desktop-width;
  }

  .footer__copyright-wrapper {
    width: 400px;
  }
}
