.gallery-contents {
  padding-bottom: 106px;
}

.gallery-contents__section-title {
  .font-parameters(18px; 26px; bold);
  margin: 0;
  margin-top: 40px;
  margin-bottom: 30px;
}

.gallery-contents__section-comment {
  .font-parameters(14px; 24px; bold);
  margin: 0;
  margin-bottom: 32px;
}

.gallery-contents__gallery-item {
  &--photo {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &--video {
    margin: 0;
  }
}

/*
.gallery-contents__item-image {

}
*/

.gallery-contents__item-caption {
  text-align: left;
}

.gallery-contents__item-description {
  display: block;
  .font-parameters(14px; 24px; bold);
  margin-top: 17px;
  margin-bottom: 5px;
}

.gallery-contents__item-author {
  .font-parameters(14px; 24px; normal);
  text-transform: none;
  margin: 0;
  margin-bottom: 10px;
}

.gallery-contents__item-facebook-likes {
  .font-parameters(14px; 24px; bold);
  padding-left: 38px;
}

.gallery-contents__comment-emphasis {
  display: block;
  .font-parameters(18px; 26px; bold);
  margin-top: 36px;
  margin-bottom: 30px;
}

.gallery-contents__gallery-item--video {
  position: relative;
}

/*
.gallery-contents__item-video {

}

.gallery-contents__video-replay {

}

.gallery-contents__video-subtitles {

}

.gallery-contents__video-fullscreen {

}
*/
