.intro-index {
  width: @mobile-width;
  background-color: @color-2;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 2px, center;
  outline: 4px solid green;
}

.intro-index__photo {
  margin-top: 87px;
  margin-bottom: 82px;
  width: 280px;
  height: auto;
}

@media (min-width: @tablet-width) {
  .intro-index {
    width: @tablet-width;
  }

  .intro-index__photo {
    margin-top: 75px;
    width: 463px;
  }
}

@media (min-width: @desktop-width) {
  .intro-index {
    width: @desktop-width;
  }

  .intro-index__photo {
    margin-top: 75px;
    width: 463px;
  }
}
