.map {
  width: @mobile-width;
   outline: 2px solid pink;
}

.map__map-wrapper {
  height: 350px;
  background-color: @color-2;
  background-image: url("../img/icon-map-marker.svg"),
                    url("../img/bg-map-mobile@1x.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: 28px 28px, contain;
}

.map__map-iframe {
  width: @mobile-width;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .map {
    width: @tablet-width;
  }

  .map__map-iframe {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: @desktop-width;
  }

  .map__map-iframe {
    width: @desktop-width;
  }
}
