/*.social_social-wrapper {

}
*/
.social__sedona-hashtag {
  display: block;
  .font-parameters(21px; 26px; bold);
  margin-top: 38px;
  margin-bottom: 40px;
}

.social__social-list {
  .list-style-reset();
}

.social__social-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;

  &:last-child {
    margin-right: none;
  }
}

.social__social-button {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-color: @color-3;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
