.social__social-wrapper {
  margin-top: 37px;
  margin-bottom: 39px;
  background-color: @color-2;
}

.social__social-list {
  .list-style-reset();
}

.social__social-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;

  &:last-child {
    margin-right: none;
  }
}

.social__social-button {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  font-size: 0;
  background-color: @color-3;

  &:hover,
  &:focus {
    background-color: @color-3-1;
  }

  &:active {
    background-color: @color-3-2;
  }
}

.social__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: @tablet-width) {
  .social__social-wrapper {
    width: 255px;
  }
}

@media (min-width: @desktop-width) {
  .social__social-wrapper {
    width: 400px;
  }
}
